@page "/account"



<PageTitle>Account</PageTitle>

<div class="container">
    <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="card bg-white mt-5">
                    <div class="card-body text-center">
                        <p>Hier komt account data</p>
                    </div>
                </div>
            </div>
    </div>
    <div><p>&nbsp;</p></div>
</div>
