@page "/"
@using Frontendtest.Pages.Components
@using static Microsoft.AspNetCore.Components.Authorization.AuthorizeView


<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <Messages />
    </Authorized>
    <NotAuthorized>
        <div class="container">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <div class="card bg-white mt-5">
                        <div class="card-body ">
                            <h3 class="text-danger text-center">Het lijkt erop dat je niet bent ingelogd.</h3>
                            <p class="text-center">Log in om gebruik te maken van de Sportsapp.</p>
                            <div class="float-end">
                                <NavLink class="btn btn-outline-danger text-end" href="login">
                                Login
                            </NavLink></div>
                        </div>
                    </div>
                </div>
            </div>
            <div><p>&nbsp;</p></div>
        </div>
    </NotAuthorized>
</AuthorizeView>